.header .link {
    margin-left: 50px;
    text-decoration: none;
    font-weight: 900;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.header .link:hover {
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: gray;
}

.heading p {
    padding-right: 50px;
    width: 800px;
}